<div class="footer footerHolder">
  <div class="container">
    <footer>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-2">
          <div class="nav footerLeft">
            <div id="text-5" class="widget widget_text">
              <div class="textwidget">
                <img src="/images/logo.png">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12  col-md-10">
          <div class="row">
            <div class="col-xs-12  col-md-3">
              <h4>About Us</h4>
              <ul id="menu-footer-menu-1" class="footerNav">
                <li id="menu-item-2891" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2891">
                  <a href="javascript:">common problem</a>
                </li>

              </ul>
            </div>
            <div class="col-xs-12  col-md-3">
              <h4>Shopping Guide</h4>
              <ul id="menu-footer-menu-2" class="footerNav">
                <li id="menu-item-2890" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2890">
                  <a href="javascript:">Order processing</a>
                </li>
                <li id="menu-item-4978" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4978">
                  <a href="javascript:">Delivery instructions</a>
                </li>
                <li id="menu-item-2884" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2884">
                  <a href="javascript:">Return process</a>
                </li>
                <li id="menu-item-5610" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5610">
                  <a href="javascript:">Payment instructions</a>
                </li>
              </ul>
            </div>
            <div class="col-xs-12  col-md-3 partners-col">
              <h4>Contact Us</h4>
              <ul id="menu-footer-menu-3" class="footerNav">
                <li id="menu-item-8721" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8721">
                  <a href="javascript:">Contact information</a>
                </li>
                <li id="menu-item-8721" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8721">
                  <a href="javascript:">Merchant settled</a>
                </li>
              </ul>
            </div>
            <div class="col-xs-6  col-md-3">
              <h4>Your Email</h4>
              <ul id="menu-footer-menu-1" class="footerNav">
                <li>Subscribe to be the first to hear about our exclusive offers and
                  latest arrivals!</li>
                <li id="menu-item-2891" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2891">
                  <div id="search-4" class="widget widget_search">
                    <form role="search" method="post" id="searchform" class="searchform"
                      action="https://formspree.io/f/mdopwewj">
                      <div>
                        <input data-swplive="true" data-swpengine="default" data-swpconfig="default" id="s"
                          class="searchInput" name="Email" id="email" type="email" placeholder="Enter Email Address" />
                        <input type="submit" id="searchsubmit" value="Join" />
                      </div>
                    </form>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="bottom-desc">
          Copyright © winter 2021, Tim Lin, WEB322NDD
        </p>
      </div>
    </footer>
  </div>
</div>