<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/menu" class="theme">On the menu</a>
        </li>
        <li>
          <a href="/#process" class="theme">How it works</a>
        </li>
        <li>
          <a href="/customer/shopping_cart" class="theme">Shopping cart</a>
        </li>
      </ul>

      {{#if user}}
      <ul class="nav navbar-nav navbar-right">
        <li class="userInfo">
          <span class="glyphicon glyphicon-menu-down theme"></span>
          <span class="theme">{{user.firstName}} {{user.lastName}}</span>
          <ul class="down-menu">
            <li class="menu-item">
              <span class="glyphicon glyphicon-user theme"></span>
              <a href="/personalCenter" class="theme">personalCenter</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/logout">
            <button type="button" class="btn btn-default navbar-btn btn-danger logout">Log out</button>
          </a>
        </li>
      </ul>
      {{else}}
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/login">
            <button type="button" class="btn btn-default navbar-btn btn-info">Log in</button>
          </a>
        </li>
        <li>
          <a href="/signup">
            <button type="button" class="btn btn-default navbar-btn btn-danger">Sign up</button>
          </a>
        </li>
      </ul>
      {{/if}}
    </div>
  </div>
</nav>