<div class="hero">
  <div class="mask">
    <div class="jumbotron">
      <h1>Fast and Simple</h1>
      <p class="tips">Ain't no need to go outside</p>
      <p><a class="btn btn-primary btn-lg" href="/menu" role="button">Order Now</a></p>
    </div>
  </div>
</div>